.hotAccessoriesMenu{

    display: flex;
    justify-content: center;
    align-items: center;
}

.hotAccessoriesLink{
    text-decoration: none;
    margin: 1vmax;
    padding: 0.5vmax;
    color: #757575;
}

.hotAccessoriesLink:hover{
    color: orangered;
    outline: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid orangered;
}
