.hotItemCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color: white;
    width: 31%;
    transition: all 0.5s;
    cursor: pointer;
}

.hotItemCard:hover{
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.365) ;
    transform: translateY(-0.4vmax); 
    
}

.hotItemCard img{
    width: 70%;
}

.hotItemCard p  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hotItemCard span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    margin: -1vmax 0 1vmax 0;
}