.PreNav{
    display: grid;
    background-color: rgb(29, 28, 28);
    color: white;  
    grid-template-columns: 5fr 2fr;    
}
.PreNav > div{
   padding: 0.5vmax 4vmax;    
   display: flex;
   align-items: center;
   height: 46px;
}
.PreNav > div > span{
    color: rgba(180, 180, 180, 0.664);
    font-size: 0.8vmax;
    font-weight: 100;
}
.PreNav > div  > a{
    color: rgb(180, 180, 180);
    font-size: 0.9vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
}

.PreNav > div > a:hover{
    color: white;
}
.PreNav > div svg{
    fill: rgb(180, 180, 180);
}

.PreNav > div svg:hover{
    fill: white;
}

